/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: inherit ;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*  Set the font */
/* STYLES */
/* Write your CSS below */

body {
  background-color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: content-box;
  width: 1000px;
  padding: 30px;
}

div {
  margin-left: 350px;
}

h1 {
  background-image: url("images/apple-pie.jpg");
  color: white;
  text-align: center;
  height: 400px;
  padding-top: 250px;
}

#cooking-info {
  text-align: left;
}